{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "COSMOS_CONNECTION_STRING": "<your-cosmos-connection-string>",
    "COSMOS_DATABASE": "demosite",
    "COSMOS_CONTAINER": "demos"
  }
}
